.main {
  width: 100%;
  height: 100vh;
  padding: 70px;
}
.chatWindow {
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  border-radius: 4px;
}
.navbar {
  width: 100%;
  height: 100px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.details {
  display: flex;
  align-items: center;
}
.details > svg {
  font-size: 20px;
  margin-right: 25px;
  cursor: pointer;
}
.name {
  display: flex;
  align-items: center;
}
.name h2 {
  margin-right: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.name svg {
  font-size: 20px;
  margin-right: 0;
  fill: green;
}
.status {
  border: 1px solid #008000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 25px;
}
.status p {
  color: green;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.chats {
  height: calc(100% - 200px);
  width: 100%;
  padding: 35px;
  padding-bottom: 0;
}
.chat {
  width: 100%;
  margin-bottom: 12.5px;
  display: flex;
  justify-content: flex-end;
}
.botMessage {
  justify-content: flex-start;
}
.chat:nth-last-child(1) {
  margin-bottom: 0;
}
.innerChat {
  padding: 21px;
  border-radius: 4px;
  background: #fff;
  width: fit-content;
  max-width: 50%;
}
.innerChat p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.input {
  height: calc(100% - calc(100% - 200px) - 100px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
}
.inputBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.inputBox input {
  width: calc(100% - 57.5px);
  height: 100%;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 5px;
  background: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.inputBox input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #a8a8a8;
}
.inputBox button {
  width: 57.5px;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.inputBox button svg {
  fill: #a8a8a8;
}
.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFound h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 0 1rem;
}

/* responsive */

.mobileHeading {
  display: none;
  flex-direction: column;
  align-items: center;
}
.mobileHeading h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.mobileHeading p {
  color: green;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.mobileVerified {
  display: none;
}
.mobileVerified svg {
  font-size: 24px;
  margin-right: 0;
  fill: green;
}

/* media query */

@media screen and (max-width: 1000px) {
  .innerChat {
    max-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0;
  }
  .innerChat {
    max-width: 80%;
  }
  .notFound h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .details > svg {
    margin-right: 0;
  }
  .name {
    display: none;
  }
  .status {
    display: none;
  }
  .mobileVerified {
    display: block;
  }
  .mobileHeading {
    display: flex;
  }
  .innerChat {
    max-width: 85%;
  }
  .notFound h3 {
    font-size: 16px;
  }
}
